<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lemon" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'tinymce/plugins/upload/plugin.css' %}">
    <script type="text/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>

<title>Esther's博客</title>
</head>
<body>
       <div class="header">
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">添加</span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit">草稿箱</span></a>
            <p class="top-menu">Hello {{ user.username }}<small>&nbsp;<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a></p>
            {% else %}
            <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock">登录</span></a>
            {% endif %}
            <h1 class="site-title text-center"><a href="{% url 'blog.views.post_list' %}">Esther's博客</a></h1>
       </div>
       <!-- searchbox START -->
        <div id="searchbox">
            <form action="{% url 'blog.views.full_search' %}" method="get" class="search-form">
                <div class="content">
                    <label>
                        <input type="text" class="textfield searchtip" name="q" size="24" value="">
                    </label>
{#                    <input type="submit" class="button" value="搜索">#}
                </div>
            </form>
        </div>
       <div class="container">
{#            <div class="row">#}
{#                <div class="col-md-8">#}
                {% block content %}
                {% endblock %}
{#                </div>#}
{#            </div>#}
       </div>
</body>
</html>